@{
    Layout = "~/Views/Shared/_" + ViewBag.Layout + "Layout.cshtml";
}

@if (ViewBag.ShowTitleOnPage && !string.IsNullOrEmpty(ViewBag.Title))
{
    <h2>@ViewBag.Title</h2>
}

@Html.Raw(ViewBag.Html)