@{
    ViewBag.Title = "400 Bad Request";
}

<div class="jumbotron">
    <p>Sorry, but your request cannot be fulfilled due to bad syntax!</p>
    <p><a href="@Url.Content("~")" class="btn btn-primary btn-lg">Back to the Home page</a></p>
</div>