@{
    Layout = "~/Views/Shared/_JumbotronSidebarLayout.cshtml";
    ViewBag.Title = "400 Bad Request";
}

<p>Sorry, but your request cannot be fulfilled due to bad syntax!</p>
<p><a href="~" class="btn btn-primary btn-lg">Back to the Home page</a></p>