@{
    Layout = "~/Views/Shared/_JumbotronSidebarLayout.cshtml";
    ViewBag.Title = "500 Internal Server Error";
}

<p>Sorry, but an unexpected condition was encountered on the server!  Please try again later.</p>
<p><a href="@Url.Content("~")" class="btn btn-primary btn-lg">Back to the Home page</a></p>