@{
    Layout = "~/Views/Shared/_JumbotronSidebarLayout.cshtml";
    ViewBag.Title = "403 Not Authorized";
}

<p>Sorry, but you aren't authorized to load this page!</p>
<p><a href="@Url.Content("~")" class="btn btn-primary btn-lg">Back to the Home page</a></p>