@{
    Layout = "~/Views/Shared/_JumbotronSidebarLayout.cshtml";
    ViewBag.Title = "403.6 IP address rejected";
}

<p>Sorry, but you aren't authorized to load this page!</p>
<p><a href="~" class="btn btn-primary btn-lg">Back to the Home page</a></p>