@{
    ViewBag.Title = "403 Not Authorized";
}

<div class="jumbotron">
    <p>Sorry, but you aren't authorized to load this page!</p>
    <p><a href="@Url.Content("~")" class="btn btn-primary btn-lg">Back to the Home page</a></p>
</div>