/* XenonCMS styles*/
div.blog-post {
    margin-left: 25px;
    margin-bottom: 75px;
}

div.cke_contents {
    height: 400px !important;
}

div.post-date {
    color: #CCCCCC;
    font-style: italic;
    margin-bottom: 15px;
}

span.field-validation-error {
    color: #B94A48; /*TODO This is text-danger from Cerulean, should change based on theme*/
}





/* Fixed header styles */
body > .container {
  padding: 75px 15px 0;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

        .footer > .container .text-muted {
            margin: 20px 0;
        }
