@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="col-xs-12">
    <div class="jumbotron">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}