@using XenonCMS.Classes

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="col-md-8">
    @RenderBody()
</div>
<div class="col-md-4">
    @Html.Raw(Caching.GetSidebar())
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}